<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table thead th {
            border-bottom: 2px solid #dee2e6;
            font-size: 0.85rem;
        }
        .table th,
        .table td {
            vertical-align: middle;
            text-align: left;
        }
    </style>
</head>

<body class="bg-light">

<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 fw-normal d-flex align-items-center gap-2">
            <strong th:text="${#authentication.principal.getEmail}"
                    class="ms-2"
                    style="font-size: 0.9em; line-height: 1; display: block;">
            </strong>
            <span class="ms-2 me-2">with roles:</span>
            <span th:each="au : ${#authentication.authorities}"
                  th:text="${au.getAuthority().replace('ROLE_', '')}"
                  style="text-transform: uppercase; letter-spacing: 1px; margin-right: 4px;">
            </span>
        </span>
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-sm" style="color: rgba(255, 255, 255, 0.6); background: transparent; border: none; padding: 0.25rem 0.5rem;">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">

                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link active text-white bg-primary" aria-current="page" th:href="@{/admin}">
                            Admin
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user}">
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-10 ms-sm-auto px-md-4">

            <div class="pt-3 pb-2">
                <h1 class="display-5 fw-semibold">Admin panel</h1>
            </div>

            <ul class="nav nav-tabs mb-0">
                <li class="nav-item">
                    <span class="nav-link active" aria-current="page">
                        Users table
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/user/new}">
                        New User
                    </a>
                </li>
            </ul>

            <div class="card">
                <div class="card-header bg-light">
                    <h4 class="mb-0">All users</h4>
                </div>

                <div class="card-body p-3">
                    <div class="table-responsive">
                        <table class="table align-middle mb-0">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="u : ${users}"
                                th:classappend="${u.username == #authentication.name} ? 'table-active' : ''">

                                <td th:text="${u.id}"></td>
                                <td th:text="${u.firstName}"></td>
                                <td th:text="${u.lastName}"></td>
                                <td th:text="${u.age}"></td>
                                <td th:text="${u.email}"></td>

                                <td>
                                    <span th:each="r : ${u.roles}"
                                          th:text="${r.name} + ' '">
                                    </span>
                                </td>

                                <td>
                                    <button type="button"
                                            class="btn btn-sm btn-info text-white"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editUserModal"
                                            th:attr="data-id=${u.id}, data-username=${u.username}, data-first-name=${u.firstName}, data-last-name=${u.lastName}, data-age=${u.age}, data-email=${u.email}">
                                        <span th:each="role : ${u.roles}"
                                              class="user-role-id"
                                              th:attr="data-role-id=${role.id}"
                                              hidden>
                                        </span>
                                        Edit
                                    </button>
                                </td>

                                <td>
                                    <button type="button"
                                            class="btn btn-sm btn-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteUserModal"
                                            th:attr="data-id=${u.id},data-username=${u.username},data-first-name=${u.firstName},data-last-name=${u.lastName},data-age=${u.age},data-email=${u.email}">
                                        <span th:each="role : ${u.roles}"
                                              class="delete-user-role-id"
                                              th:attr="data-role-id=${role.id}"
                                              hidden>
                                        </span>
                                        Delete
                                    </button>
                                </td>
                            </tr>

                            <tr th:if="${#lists.isEmpty(users)}">
                                <td colspan="8" class="text-center">
                                    There are no users
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>

<!-- Модальное окно Edit -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Заголовок -->
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="editUserModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="editForm" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <div class="modal-body">

                    <div class="mb-3 text-center">
                        <label for="editUsername" class="form-label fw-bold" style="margin-bottom: 4px;">Username</label>
                        <input type="text" id="editUsername" name="username" class="form-control" required>
                    </div>

                    <div class="mb-3 text-center">
                        <label for="editFirstName" class="form-label fw-bold" style="margin-bottom: 4px;">First name</label>
                        <input type="text" id="editFirstName" name="firstName" class="form-control">
                    </div>

                    <div class="mb-3 text-center">
                        <label for="editLastName" class="form-label fw-bold" style="margin-bottom: 4px;">Last name</label>
                        <input type="text" id="editLastName" name="lastName" class="form-control">
                    </div>

                    <div class="mb-3 text-center">
                        <label for="editAge" class="form-label fw-bold" style="margin-bottom: 4px;">Age</label>
                        <input type="number" id="editAge" name="age" class="form-control" min="0" max="120">
                    </div>

                    <div class="mb-3 text-center">
                        <label for="editEmail" class="form-label fw-bold" style="margin-bottom: 4px;">Email</label>
                        <input type="email" id="editEmail" name="email" class="form-control">
                    </div>

                    <div class="mb-3 text-center">
                        <label for="editPassword" class="form-label fw-bold" style="margin-bottom: 4px;">Password</label>
                        <input type="password" id="editPassword" name="password" class="form-control" placeholder="Enter a new password">
                    </div>

                    <div class="mb-3 text-center">
                        <label class="form-label fw-bold d-block" style="margin-bottom: 4px;">Roles</label>
                        <div th:each="role : ${roles}" class="form-check form-check-inline">
                            <input class="form-check-input edit-role-checkbox"
                                   type="checkbox"
                                   name="roles"
                                   th:value="${role.id}"
                                   th:id="${'edit-role-' + role.id}">
                            <label class="form-check-label"
                                   th:for="${'edit-role-' + role.id}"
                                   th:text="${role.name}">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно Delete -->
<div class="modal fade"
     id="deleteUserModal"
     tabindex="-1"
     aria-labelledby="deleteUserModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Заголовок -->
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="deleteForm" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <div class="modal-body">

                    <div class="mb-3 text-center">
                        <label for="deleteUsername" class="form-label fw-bold" style="margin-bottom: 4px;">Username</label>
                        <input type="text" id="deleteUsername" class="form-control" disabled>
                    </div>

                    <div class="mb-3 text-center">
                        <label for="deleteFirstName" class="form-label fw-bold" style="margin-bottom: 4px;">First name</label>
                        <input type="text" id="deleteFirstName" class="form-control" disabled>
                    </div>

                    <div class="mb-3 text-center">
                        <label for="deleteLastName" class="form-label fw-bold" style="margin-bottom: 4px;">Last name</label>
                        <input type="text" id="deleteLastName" class="form-control" disabled>
                    </div>

                    <div class="mb-3 text-center">
                        <label for="deleteAge" class="form-label fw-bold" style="margin-bottom: 4px;">Age</label>
                        <input type="number" id="deleteAge" class="form-control" disabled>
                    </div>

                    <div class="mb-3 text-center">
                        <label for="deleteEmail" class="form-label fw-bold" style="margin-bottom: 4px;">Email</label>
                        <input type="email" id="deleteEmail" class="form-control" disabled>
                    </div>

                    <div class="mb-3 text-center">
                        <label for="deletePassword" class="form-label fw-bold" style="margin-bottom: 4px;">Password</label>
                        <input type="password" id="deletePassword" class="form-control" placeholder="Password is hidden" disabled>
                    </div>

                    <div class="mb-3 text-center">
                        <label class="form-label fw-bold d-block" style="margin-bottom: 4px;">Roles</label>
                        <div th:each="role : ${roles}"
                             class="form-check form-check-inline">
                            <input class="form-check-input delete-role-checkbox"
                                   type="checkbox"
                                   th:value="${role.id}"
                                   th:id="${'delete-role-' + role.id}"
                                   disabled>
                            <label class="form-check-label"
                                   th:for="${'delete-role-' + role.id}"
                                   th:text="${role.name}">
                            </label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>

            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Cкрипт для Edit -->
<script>
    const editUserModal = document.getElementById('editUserModal');

    editUserModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;

        const id = button.getAttribute('data-id');
        const username = button.getAttribute('data-username');
        const firstName = button.getAttribute('data-first-name');
        const lastName = button.getAttribute('data-last-name');
        const age = button.getAttribute('data-age');
        const email = button.getAttribute('data-email');

        const editForm = document.getElementById('editForm');

        editForm.action = '/admin/user/' + id;

        document.getElementById('editUsername').value = username || '';
        document.getElementById('editFirstName').value = firstName || '';
        document.getElementById('editLastName').value = lastName || '';
        document.getElementById('editAge').value = age || '';
        document.getElementById('editEmail').value = email || '';

        document.getElementById('editPassword').value = '';

        const selectedRoleIds = [];

        button.querySelectorAll('.user-role-id').forEach(function (roleElement) {
            selectedRoleIds.push(roleElement.getAttribute('data-role-id'));
        });

        document.querySelectorAll('.edit-role-checkbox').forEach(function (checkbox) {
            checkbox.checked = selectedRoleIds.includes(checkbox.value);
        });
    });
</script>

<!-- Cкрипт для Delete -->
<script>
    const deleteUserModal = document.getElementById('deleteUserModal');

    deleteUserModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;

        const id = button.getAttribute('data-id');
        const username = button.getAttribute('data-username');
        const firstName = button.getAttribute('data-first-name');
        const lastName = button.getAttribute('data-last-name');
        const age = button.getAttribute('data-age');
        const email = button.getAttribute('data-email');

        const deleteForm = document.getElementById('deleteForm');

        deleteForm.action = '/admin/user/' + id + '/delete';

        document.getElementById('deleteUsername').value = username || '';
        document.getElementById('deleteFirstName').value = firstName || '';
        document.getElementById('deleteLastName').value = lastName || '';
        document.getElementById('deleteAge').value = age || '';
        document.getElementById('deleteEmail').value = email || '';

        document.getElementById('deletePassword').value = '';

        const selectedRoleIds = [];

        button.querySelectorAll('.delete-user-role-id').forEach(function (roleElement) {
            selectedRoleIds.push(roleElement.getAttribute('data-role-id'));
        });

        document.querySelectorAll('.delete-role-checkbox').forEach(function (checkbox) {
            checkbox.checked = selectedRoleIds.includes(checkbox.value);
        });
    });
</script>

</body>
</html>